<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Strona rejestracji</title>
</head>
<body>
<h3>Zarejestruj się</h3>
<form th:action="@{/addNewUser}" method="post" th:object="${newUser}">
    Login: <input type="text" th:field="*{username}"/><br/>
    Hasło: <input type="text" th:field="*{password}"/><br/>
    Wybierz rolę: <select th:field="*{role}">
    <option th:value="ROLE_ADMIN" data-th-field="*{role}">admin</option>
    <option th:value="ROLE_MODERATOR" data-th-field="*{role}">moderator</option>
    <option th:value="ROLE_USER" data-th-field="*{role}">user</option>
</select>
    <input type="submit" th:value="Rejestruj" /><br/>
</form>
</body>
</html>